@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$primary-orange: hsl(26, 100%, 55%);
$primary-dark-blue: hsl(220, 13%, 13%);
$primary-dark-gray: hsl(219, 9%, 45%);

$simple-white: hsl(0, 0%, 100%);

$secondary-light-gray: hsl(223, 64%, 98%);
$secondary-gray: hsl(220, 14%, 75%);
$secondary-light-orange: hsl(25, 100%, 94%);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    min-height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: $primary-dark-gray;
}

@mixin flex-container() {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin lists-decoration() {
    list-style-type: none;
}

.navigation {
    @include flex-container();
    align-items: baseline;
    margin: 30px 160px;
    border-bottom: 2px solid $secondary-light-gray;
}

.navigation--logo {
    margin-right: 50px;
}

.navigation--mainmenu {
    @include flex-container();
    @include lists-decoration();
    margin-right: auto;
    & li {
        padding-bottom: 20px;
        border-bottom: 3px solid transparent;
        &:not(:last-child) {
            margin-right: 40px;
            height: 100%;
        }
        &:hover {
            border-bottom: 3px solid $primary-orange;
        }
    }
    & a {
        text-decoration: none;
        color: $primary-dark-gray;
    }
}

.navigation--accountmenu {
    @include flex-container();
    @include lists-decoration();
    & li:not(:last-child) {
        padding-right: 40px;
    }
}

.navigation--accountmenu_cart {
    fill: #69707D;
    &:hover {
        cursor: pointer;
    }
    &:active {
        fill: $primary-dark-blue;
    }
}

.navigation--accountmenu_avatar {
    width: 50px;
    height: auto;
    border-radius: 100%;
    border: 2px solid transparent;
    &:hover {
        cursor: pointer;
    }
    &:active {
        border-color:  $primary-orange;
    }
}

.maincontent {
    @include flex-container();
    margin: 90px 210px;
}

.maincontent--gallery {
    padding-right: 130px;
}

.maincontent--gallery_imgfull {
    width: 450px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 30px;
}

.maincontent--gallery_imglist {
    @include flex-container();
    @include lists-decoration();
    & img {
        width: 90px;
        height: auto;
        border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
        &:active {
            opacity: .5;
        }
    }
}

.maincontent--productinfo_companyname {
    color: $primary-orange;
    font-size: .8rem;
    letter-spacing: .1rem;
    margin-bottom: 20px;
}

.maincontent--productinfo_productname {
    color: $primary-dark-blue;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    margin-bottom: 40px;
}

.maincontent--productinfo_description {
    margin-bottom: 30px;
    line-height: 1.7rem;
    text-align: justify;
}

.maincontent--productinfo--price {
    @include flex-container();
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 40px;
    font-weight: 700;
}

.maincontent--productinfo--price--current {
    @include flex-container();
    font-size: 1.5rem;
    color: $primary-dark-blue;
    margin-bottom: 20px;
}

.maincontent--productinfo--price--current_discount {
    margin-right: auto;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: $secondary-light-orange;
    font-size: 1rem;
    color: $primary-orange;
    border-radius: 5px;
}

.maincontent--productinfo--price_old {
    color: $secondary-gray;
    text-decoration: line-through;
}

.maincontent--productinfo--buttons {
    @include flex-container();
}

.maincontent--productinfo--buttons--counter {
    @include flex-container();
}

.maincontent--productinfo--buttons--counter_minus{
    background-color: $secondary-light-gray;
    border-radius: 5px 0 0 5px;
    padding: 10px 15px;
    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: .7;
    }
}

.maincontent--productinfo--buttons--counter_amount {
    color: $primary-dark-blue;
    background-color: $secondary-light-gray;
    padding: 10px 15px;
}

.maincontent--productinfo--buttons--counter_plus{
    background-color: $secondary-light-gray;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: .7;
    }
}

.maincontent--productinfo--buttons_add {
    @include flex-container();
    color: $simple-white;
    font-weight: 700;
    font-size: .9rem;
    background-color: $primary-orange;
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 0 20px 35px -15px $primary-orange;
    & svg {
        margin-right: 10px;
        transform: scale(.9); 
    }
    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: .7;
    }
}

.footer {
    text-align: center;
    font-size: small;
}