@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$primary-orange: hsl(26, 100%, 55%);
$primary-dark-blue: hsl(220, 13%, 13%);
$primary-dark-gray: hsl(219, 9%, 45%);

$simple-white: hsl(0, 0%, 100%);

$secondary-light-gray: hsl(223, 64%, 98%);
$secondary-gray: hsl(220, 14%, 75%);
$secondary-light-orange: hsl(25, 100%, 94%);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    min-height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: $primary-dark-gray;
    display: flex;
    flex-direction: column;
    position: relative;
}

@mixin flex-container() {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    @include flex-container();
    align-items: baseline;
    margin: 30px 160px;
    border-bottom: 2px solid $secondary-light-gray;
}

.navigation--logo {
    margin-right: 50px;
}

.navigation--mainmenu {
    @include flex-container();
    list-style-type: none;
    margin-right: auto;
    & li {
        padding-bottom: 20px;
        border-bottom: 3px solid transparent;
        &:not(:last-child) {
            margin-right: 40px;
            height: 100%;
        }
        &:hover, &:active {
            border-bottom: 3px solid $primary-orange;
        }
    }
    & a {
        text-decoration: none;
        color: $primary-dark-gray;
        &:active {
            color: $primary-dark-blue;
        }
    }
}

.navigation--accountmenu {
    @include flex-container();
    list-style-type: none;
    position: relative;
    & li:first-child {
        margin-right: 40px;
    }
}

.navigation--accountmenu_carticon {
    fill: #69707D;
    &:hover {
        cursor: pointer;
    }
    &:active {
        fill: $primary-dark-blue;
    }
}

.navigation--accountmenu--cart {
    position: absolute;
    top: 60px;
    right: -50px;
    background-color: $simple-white;
    width: 360px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px $primary-dark-gray;
    z-index: 1000;
}

.navigation--accountmenu--cart_header {
    padding: 20px 25px;
    color: $primary-dark-blue;
    font-weight: 700;
    border-bottom: 2px solid $secondary-light-gray;
}

.navigation--accountmenu--cart_text {
    text-align: center;
    font-weight: 700;
    padding-top: 15%;
}

.navigation--accountmenu_avatar {
    width: 50px;
    height: auto;
    border-radius: 100%;
    border: 2px solid transparent;
    &:hover {
        cursor: pointer;
    }
    &:active {
        border-color:  $primary-orange;
    }
}

.maincontent {
    @include flex-container();
    margin: 0 210px 0 210px;
    flex-grow: 1;
}

.maincontent--gallery {
    margin-right: 130px;
    position: relative;
}

.maincontent--gallery_imgfull {
    max-width: 450px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 30px;
}

.maincontent--gallery_prevbtn, .maincontent--gallery_nextbtn{
    position: absolute;
    top: 50%;
    left: 1rem;
    background-color: $simple-white;
    border-radius: 100%;
    @include flex-container();
    justify-content: center;
    width: 36px;
    height: 36px;
}

.maincontent--gallery_nextbtn {
    left: auto;
    right: 1rem;
}

.maincontent--gallery_imglist {
    @include flex-container();
    list-style-type: none;
    & img {
        width: 90px;
        height: auto;
        border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
        &:active {
            opacity: .5;
        }
    }
}

.maincontent--productinfo_companyname {
    color: $primary-orange;
    font-size: .8rem;
    letter-spacing: .1rem;
    margin-bottom: 20px;
}

.maincontent--productinfo_productname {
    color: $primary-dark-blue;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    margin-bottom: 40px;
}

.maincontent--productinfo_description {
    margin-bottom: 30px;
    line-height: 1.7rem;
    text-align: justify;
}

.maincontent--productinfo--price {
    @include flex-container();
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 40px;
    font-weight: 700;
}

.maincontent--productinfo--price--current {
    @include flex-container();
    font-size: 1.5rem;
    color: $primary-dark-blue;
    margin-bottom: 20px;
}

.maincontent--productinfo--price--current_discount {
    margin-right: auto;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: $secondary-light-orange;
    font-size: 1rem;
    color: $primary-orange;
    border-radius: 5px;
}

.maincontent--productinfo--price_old {
    color: $secondary-gray;
    text-decoration: line-through;
}

.maincontent--productinfo--buttons {
    @include flex-container();
}

.maincontent--productinfo--buttons--counter {
    @include flex-container();
}

.maincontent--productinfo--buttons--counter_minus{
    background-color: $secondary-light-gray;
    border-radius: 5px 0 0 5px;
    padding: 10px 15px;
    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: .7;
    }
}

.maincontent--productinfo--buttons--counter_amount {
    color: $primary-dark-blue;
    background-color: $secondary-light-gray;
    padding: 10px 15px;
}

.maincontent--productinfo--buttons--counter_plus{
    background-color: $secondary-light-gray;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: .7;
    }
}

.maincontent--productinfo--buttons_add {
    @include flex-container();
    color: $simple-white;
    font-weight: 700;
    font-size: .9rem;
    background-color: $primary-orange;
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 0 20px 35px -15px $primary-orange;
    & svg {
        margin-right: 10px;
        transform: scale(.9); 
    }
    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: .7;
    }
}

.footer {
    text-align: center;
    font-size: small;
    flex-shrink: 0;
    margin-top: 40px;
}

/*For Mobiles*/

.mobilemenu--list {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: $simple-white;
    z-index: 10;
    padding: 25px;
    list-style-type: none;
    & li {
        &:first-child {
            margin-bottom: 50px;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        & a {
            text-decoration: none;
            color: $primary-dark-blue;
            font-weight: 700;
        }
    }
}

.darkfilter:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 2;
  }

.hide {
    display: none;
}

@media (max-width: 1280px) {

    .maincontent {
        margin: 0 190px 0 190px;
    }

    .maincontent--gallery {
        margin-right: 90px;
    }

    .maincontent--productinfo--buttons_add {
        padding: 10px 20px;
    }
}

@media (max-width: 1024px) {

    .navigation {
        margin: 30px 60px;
    }

    .maincontent {
        margin: 0 90px 0 90px;
    }

    .maincontent--gallery {
        margin-right: 55px;
    }

}

@media (max-width: 810px) {

    .navigation {
        margin: 30px 50px;
    }

    .navigation--logo {
        margin-right: 40px;
    }

    .navigation--mainmenu {
        & li:not(:last-child) {
            margin-right: 20px;
        }
    }

    .navigation--accountmenu {
        & li:first-child {
            margin-right: 20px;
        }
    }

    .maincontent {
        flex-direction: column;
    }

    .maincontent--gallery {
        margin: 90px 0;
    }

    .maincontent--productinfo--price {
        align-items: flex-end;
    }

    .maincontent--productinfo--buttons {
        flex-direction: column;
        align-items: flex-end;
    }

    .maincontent--productinfo--buttons_add {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {

    .navigation {
        margin: 0 20px;
    }

    .maincontent {
        margin: 0;
    }

    .maincontent--gallery {
        margin: 0;
    }

    .maincontent--gallery_imgfull {
        max-width: 100%;
        border-radius: 0;
        margin: 0;
    }

    .maincontent--productinfo {
        margin: 20px 40px;
    }
    
    .maincontent--productinfo_productname {
        margin-bottom: 20px;
    }

    .maincontent--productinfo--price {
        flex-direction: row;
        align-items: center;
    }

    .maincontent--productinfo--price--current {
        margin-bottom: 0;
    }

    .maincontent--productinfo--buttons {
        flex-direction: column;
        max-width: 100%;
    }

    .maincontent--productinfo--buttons--counter {
        width: 100%;
    }

    .maincontent--productinfo--buttons--counter_amount {
        width: 100%;
        text-align: center;
    }

    .maincontent--productinfo--buttons_add {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .footer {
        font-size: xx-small;
    }
}